[init]
	defaultBranch = main
[user]
	name = nobushi95
	# email = emailadress@mail.com
[merge]
	tool = vscode
	ff = false
[mergetool "vscode"]
	# cmd = code --wait $MERGED # 旧設定？
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED # 新設定？
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	# st = status --short
	st = status
	br = branch
	cm = commit
	co = checkout
	sw = switch
	cp = cherry-pick
	gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[pull]
	ff = only
[push]
	default = current
