[init]
	defaultBranch = main
[user]
	name = nobushi95
	# email = emailadress@mail.com
[merge]
	tool = vscode
	ff = false
	conflictStyle = zdiff3
[mergetool "vscode"]
	# cmd = code --wait $MERGED # 旧設定？
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED # 新設定？
[diff]
	# external = difft # difftasticをデフォルトで使用する
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[alias]
	# st = status --short
	st = status
	lg = log
	br = branch
	cm = commit
	co = checkout
	sw = switch
	cp = cherry-pick
	mg = merge
	rb = rebase
	ft = fetch
	pl = pull
	ps = push
	# gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	# gr = log --graph --decorate --abbrev-commit --format=format:'%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset)%C(yellow)%d%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	gr = log --graph --decorate --abbrev-commit --format=format:'%C(blue)%h%C(reset) - %C(green)(%ad)%C(reset)%C(yellow)%d%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --date=short
	gra = log --graph --decorate --abbrev-commit --format=format:'%C(blue)%h%C(reset) - %C(green)(%ad)%C(reset)%C(yellow)%d%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all --date=short
	grn = log --graph --decorate --abbrev-commit --format=format:'%C(blue)%h%C(reset) - %C(green)(%ad)%C(reset)%C(yellow)%d%C(reset)\n  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --date=short
	grna = log --graph --decorate --abbrev-commit --format=format:'%C(blue)%h%C(reset) - %C(green)(%ad)%C(reset)%C(yellow)%d%C(reset)\n  %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all --date=short
[pull]
	ff = only
[core]
	editor = code --wait
	pager = delta
[sequence]
	editor = code --wait
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
